<%= render "layouts/errors", :object => @line %>

<div class="form-group">
  <%= form_for @line do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :number %>
  <%= f.number_field :number %>

  <%= f.submit :class => "btn btn-success"%>
  <% end %>
</div>
