<%= render "layouts/errors", :object => @station %>

<div class="form-group">
  <%= form_for [@line, @station] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit :class => "btn btn-success" %>
  <% end %>
</div>
