<!DOCTYPE html>
<html>
<head>
  <title>Bus System Map</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Bus System Map</h1>

  <% if current_admin %>
    Logged in as: <%= current_admin.username %> |
    <%= link_to 'Log out Admin', log_out_path %>
  <% else %>
    <%= link_to 'Log in Admin', log_in_path %>
  <% end %>

<hr>

<%= flash[:alert] %>
<%= flash[:notice] %>

<%= yield %>

</body>
</html>
